.is_pc {
  display: block;
}

@media only screen and (max-width: 640px) {
  .is_pc {
    display: none !important;
  }
}

.is_sp {
  display: none;
}

@media only screen and (max-width: 640px) {
  .is_sp {
    display: block !important;
  }
}

@media only screen and (max-width: 960px) {
  .hide_md {
    display: none;
  }
}

.is_hidden {
  display: none;
}

#mainWrap {
  background: url(../images/bg_main_pc.jpg) bottom center no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 640px) {
  #mainWrap {
    background: url(../images/bg_main_sp.jpg) bottom center no-repeat;
    background-size: cover;
    padding-top: 40px;
  }
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 640px) {
  .main {
    height: 329px;
  }
}

.main .txt_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 42px;
  color: #fff;
  padding-bottom: 65px;
}

@media only screen and (max-width: 1040px) {
  .main .txt_main {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .main .txt_main {
    font-size: 22px;
    padding-left: 15px;
    padding-bottom: 35px;
  }
}

.slick-slide img {
  width: 100%;
}

#historyWrap .historyContent {
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 1040px) {
  #historyWrap .historyContent #boxWrap, #historyWrap .historyContent {
    margin: 0 20px;
    padding-bottom: 10px;
  }
}

#boxWrap {
  padding-bottom: 50px;
}

@media only screen and (max-width: 640px) {
  #boxWrap {
    padding-bottom: 10px;
  }
}

#boxWrap .box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 20px 70px;
  background: #ffffff;
  border: solid 16px #f1f1f1;
  text-align: center;
  position: relative;
  top: -50px;
  -webkit-box-shadow: 0 1px 5px #888888;
  box-shadow: 0 1px 5px #888888;
}

@media only screen and (max-width: 640px) {
  #boxWrap .box {
    border: solid 8px #f1f1f1;
    padding: 24px 5px 25px;
    top: -25px;
  }
}

#boxWrap .box h2 {
  font-size: 34px;
  margin-bottom: 15px;
  color: #333333;
  font-weight: bold;
}

@media only screen and (max-width: 640px) {
  #boxWrap .box h2 {
    font-size: 19px;
    margin-bottom: 7px;
  }
}

#boxWrap .box h2 small {
  font-size: 24px;
  font-weight: inherit;
  display: inline-block;
  padding-bottom: 17px;
}

@media only screen and (max-width: 640px) {
  #boxWrap .box h2 small {
    font-size: 13px;
    padding-bottom: 10px;
  }
}

#boxWrap .box p {
  color: #333333;
  font-size: 18px;
}

@media only screen and (max-width: 640px) {
  #boxWrap .box p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 640px) {
  #boxWrap, #boxWrap .historyContent {
    margin: 0 15px;
  }
}

@media only screen and (max-width: 640px) {
  #historyWrap .historyContent {
    margin: 0 15px;
  }
}

#historyWrap .historyContent h2, #historyWrap .historyContent p {
  line-height: 1.875;
}

@media only screen and (max-width: 640px) {
  #historyWrap .historyContent h2, #historyWrap .historyContent p {
    line-height: 1.5;
  }
}

#historyWrap .historyContent h2 {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.6;
  text-align: justify;
}

@media only screen and (max-width: 640px) {
  #historyWrap .historyContent h2 {
    font-size: 16px;
    padding-left: 30px;
    padding: 0;
    margin-bottom: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

#historyWrap .historyContent h2:before {
  content: '';
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35px;
  flex: 0 0 35px;
  height: 55px;
  margin-right: 15px;
  background: url("../images/ic_micro.png") center no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 640px) {
  #historyWrap .historyContent h2:before {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25px;
    flex: 0 0 25px;
    height: 39px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 640px) {
  #historyWrap .historyContent p {
    font-size: 14px;
  }
}

#historyWrap .topVisual,
#historyWrap .topContent {
  padding-bottom: 60px;
}

@media only screen and (max-width: 640px) {
  #historyWrap .topVisual,
  #historyWrap .topContent {
    padding-bottom: 25px;
  }
}

#historyWrap .box,
#historyWrap .box02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

@media only screen and (max-width: 640px) {
  #historyWrap .box,
  #historyWrap .box02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 40px;
  }
}

#historyWrap .box .thumb,
#historyWrap .box02 .thumb {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55.6%;
  flex: 0 0 55.6%;
}

@media only screen and (max-width: 640px) {
  #historyWrap .box .thumb,
  #historyWrap .box02 .thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

#historyWrap .box .content {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  top: 20px;
  right: 105px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

@media only screen and (max-width: 640px) {
  #historyWrap .box .content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    top: 0;
    right: 0;
    padding: 0;
  }
}

#historyWrap .box .content p {
  padding-bottom: 40px;
}

@media only screen and (max-width: 640px) {
  #historyWrap .box .content p {
    padding-bottom: 20px;
  }
}

#historyWrap .box .content p:last-child {
  padding-bottom: 0;
}

#historyWrap .box02 {
  padding-bottom: 50px;
}

@media only screen and (max-width: 640px) {
  #historyWrap .box02 {
    padding-bottom: 25px;
  }
}

#historyWrap .box02 .thumb {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  position: relative;
  right: 105px;
}

@media only screen and (max-width: 640px) {
  #historyWrap .box02 .thumb {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    right: 0;
  }
}

#historyWrap .box02 .content {
  left: 0;
}

@media only screen and (max-width: 640px) {
  #historyWrap .box02 .content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

#historyWrap .bottomContent {
  padding-bottom: 120px;
  padding-left: 20px;
}

@media only screen and (max-width: 640px) {
  #historyWrap .bottomContent {
    padding-bottom: 50px;
    padding-left: 0;
  }
}
