/*  Helper
------------------------------------*/

.is_pc {
  display: block;
}

@media only screen and (max-width: 640px) {
  .is_pc {
    display: none !important;
  }
}

.is_sp {
  display: none;
}

@media only screen and (max-width: 640px) {
  .is_sp {
    display: block !important;
  }
}

@media only screen and (max-width: 960px) {
  .hide_md {
    display: none;
  }
}

.is_hidden {
  display: none;
}

@media only screen and (max-width: 640px) {
  #wrapper {
    padding-top: 40px;
  }
}

#mainWrap {
  background: url(../images/bg_main_pc.jpg) bottom center no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 640px) {
  #mainWrap {
    background: url(../images/bg_main_sp.jpg) bottom center no-repeat;
    background-size: cover;
  }
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  height: 380px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

@media only screen and (max-width: 640px) {
  .main {
    height: 329px;
  }
}

.main .txt_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

@media only screen and (max-width: 640px) {
  .main .txt_main {
    font-size: 19px;
  }
}

.slick-slide img {
  width: 100%;
}

#boxWrap {
  padding-bottom: 20px;
}

#boxWrap .box {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 20px 70px;
  background: #ffffff;
  border: solid 16px #f1f1f1;
  text-align: center;
  position: relative;
  top: -50px;
  box-shadow: 0 1px 5px #888888;
}

#boxWrap .box h2 {
  font-size: 34px;
  margin-bottom: 27px;
  color: #333333;
  font-weight: bold;
}

#boxWrap .box p {
  color: #333333;
  font-size: 18px;
}

@media only screen and (max-width: 1040px) {
  #boxWrap {
    margin: 0 20px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 640px) {
  #boxWrap {
    margin: 0 15px;
  }
  #boxWrap .box {
    border: solid 8px #f1f1f1;
    padding: 24px 5px 25px;
    top: -25px;
  }
  #boxWrap .box h2 {
    font-size: 19px;
    margin-bottom: 0;
  }
  #boxWrap .box p {
    font-size: 14px;
  }
}

#learningWrap .business {
  padding-bottom: 100px;
}

#learningWrap .items {
  padding: 30px 0 80px;
}

#learningWrap .items .items_content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: flex-start;
}

#learningWrap .items h3 {
  font-size: 24px;
  color: #345c43;
  margin-bottom: 25px;
  font-weight: bold;
}

#learningWrap .items figure {
  order: 0;
  width: 46%;
}

#learningWrap .items .txt_items {
  padding-left: 46px;
  width: 61%;
  font-size: 18px;
  color: #333333;
  margin-top: -5px;
}

#learningWrap .items .logo_items {
  max-width: 1000px;
  margin: 50px auto 0;
}

#learningWrap .items .logo_items ul {
  display: flex;
  flex-wrap: wrap;
  margin: -7px;
}

#learningWrap .items .logo_items ul li {
  width: 20%;
  padding: 7px;
}

#learningWrap .items .logo_items ul li:last-child {
  margin-right: 0;
}

#learningWrap .items:nth-child(even) {
  background: #ffffff;
}

#learningWrap .items:nth-child(even) figure {
  order: 1;
}

#learningWrap .items:nth-child(even) .txt_items {
  padding-left: 0;
  padding-right: 46px;
}

@media only screen and (max-width: 1040px) {
  #learningWrap .items {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 640px) {
  #learningWrap .business {
    padding-bottom: 35px;
  }
  #learningWrap .items {
    padding: 33px 15px;
    padding-bottom: 0;
  }
  #learningWrap .items .items_content {
    flex-direction: column;
  }
  #learningWrap .items h3 {
    font-size: 19px;
    margin: 0px 0 15px;
  }
  #learningWrap .items figure {
    order: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  #learningWrap .items .txt_items {
    width: 100%;
    padding-left: 0;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

#timelineWrap {
  background: url("../images/bg_01.jpg");
  padding-bottom: 90px;
  margin-bottom: 100px;
}

#timelineWrap .timeline {
  padding-bottom: 20px;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

#timelineWrap h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 100px 0 40px;
}

@media only screen and (max-width: 640px) {
  #timelineWrap .timeline {
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }
}

#timelineWrap .timeline ul {
  width: 100%;
}

#timelineWrap .timeline ul li {
  display: flex;
  min-height: 90px;
  align-items: center;
  padding: 30px 0;
  background: #ffffff;
  border-bottom: solid 2px #31573f;
  margin-bottom: 20px;
  color: #000000;
  position: relative;
}

#timelineWrap .timeline ul li:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  background: url('../images/ic_arrow.png') center no-repeat;
  background-size: 100% 100%;
  width: 181px;
  height: 16px;
}

#timelineWrap .timeline ul li:last-child {
  margin-bottom: 0;
}

#timelineWrap .timeline:last-child ul li:after {
  display: none;
}

#timelineWrap .timeline ul li>p {
  width: 15%;
  color: #005c40;
  font-weight: bold;
  text-align: center;
  background: url(../images/ic_clock.png) center no-repeat;
  height: 100px;
  background-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timelineWrap .timeline ul li article {
  width: 85%;
  padding-right: 20px;
}

#timelineWrap .timeline ul li h3 {
  font-size: 19px;
  font-weight: bold;
  color: #345c43;
}

#timelineWrap .timeline ul li h3+p {
  font-size: 16px;
}

@media only screen and (max-width: 1040px) {
  #timelineWrap .timeline {
    width: 90%;
  }
  #timelineWrap .timeline:last-child {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 640px) {
  #timelineWrap {
    padding-bottom: 35px;
    margin-bottom: 35px;
  }
  #timelineWrap .timeline {
    padding-bottom: 10px;
  }
  #timelineWrap h2 {
    padding: 35px 0 25px;
    font-size: 19px;
  } 
  #timelineWrap .timeline ul li {
    min-height: 50px;
    margin-bottom: 10px;
    padding: 15px 0;
  }
  #timelineWrap .timeline ul li:after {
    background: url(../images/ic_arrow_sp.png) center no-repeat;
    width: 100px;
    height: 9px;
  }
  #timelineWrap .timeline ul li>p {
    font-size: 12px;
    width: 25%;
    text-align: center;
    background-size: 60%;
  }
  #timelineWrap .timeline ul li article {
    width: 75%;
  }
  #timelineWrap .timeline ul li h3 {
    font-size: 16px;
  }
  #timelineWrap .timeline ul li h3+p {
    font-size: 12px;
  }
}