/*  Helper
------------------------------------*/

.is_pc {
  display: block;
}

@media only screen and (max-width: 640px) {
  .is_pc {
    display: none !important;
  }
}

.is_sp {
  display: none;
}

@media only screen and (max-width: 640px) {
  .is_sp {
    display: block !important;
  }
}

@media only screen and (max-width: 960px) {
  .hide_md {
    display: none;
  }
}

.is_hidden {
  display: none;
}

@media only screen and (max-width: 640px) {
  #wrapper {
    padding-top: 40px;
  }
}

#mainWrap {
  background: url(../images/bg_main_pc.jpg) bottom center no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 640px) {
  #mainWrap {
    background: url(../images/bg_main_sp.jpg) bottom center no-repeat;
    background-size: cover;
  }
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  height: 380px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-sizing: border-box;
}

@media only screen and (max-width: 640px) {
  .main {
    height: 329px;
  }
}

.main .txt_main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

@media only screen and (max-width: 640px) {
  .main .txt_main {
    font-size: 19px;
  }
}

#messageWrap {
  /* background: url("../images/img_massage.jpg") bottom center no-repeat; */
  background-size: cover;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 640px) {
  #messageWrap {
    /* background: url("../images/img_massage_sp.jpg") bottom center no-repeat; */
    background-size: cover;
  }
}

.slick-slide img {
  width: 100%;
}

.message {
  max-width: 1000px;
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.message .txt_main {
  width: 980px;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: 640px) {
  .message {
    height: 445px;
    display: block;
    padding-top: 180px;
  }
  .message .txt_main {
    max-width: 171.5px;
  }
}

#projectWrap {
  background: url("../images/bg_01.jpg");
}

.education {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 73px 0 88px;
}

.education h2 {
  margin-bottom: 7px;
  font-weight: bold;
}

.education h2 img {
  width: inherit;
  margin: 0 auto;
}

.education h2 p {
  font-size: 38px;
}

.education p {
  line-height: 1.9;
}

.education ul {
  margin-top: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education ul li {
  position: relative;
  color: #ffffff;
}

.education ul li .education_content {
  position: absolute;
  z-index: 1;
}

.education ul li .education_content img {
  opacity: 1 !important;
}

.education ul li .education01 {
  top: calc(35%);
  left: calc(17%);
  width: 64.5%;
  max-width: 301px;
}

.education ul li .education02 {
  top: calc(35%);
  left: calc(25%);
  width: 52%;
  width: 52.8%;
  max-width: 241px;
}

.education ul li p {
  font-size: 21px;
  font-weight: bold;
}

.education ul li:hover img {
  opacity: 0.5;
}

@media only screen and (max-width: 1040px) {
  .education {
    padding: 55px 15px;
  }
  .education ul li:not(:last-child) {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .education {
    padding: 55px 15px;
  }
  .education h2 img {
    width: 35px;
  }
  .education h2 p {
    font-size: 21px;
  }
  .education p {
    font-size: 14px;
  }
  .education ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .education ul li {
    padding: 0 29px;
    margin: 0 auto 25px !important;
  }
  .education ul li:last-child {
    margin-bottom: 0 !important;
  }
  .education ul li p {
    font-size: 10px;
  }
}

.banner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

.banner ul li {
  position: relative;
  text-align: center;
  margin-bottom: 98px;
}

.banner ul li:last-child {
  margin-bottom: 0;
}

.banner ul li .banner_content {
  position: absolute;
  top: calc(21%);
  left: calc(33.5%);
  z-index: 1;
  width: 32.7%;
}

.banner ul li .banner_content img {
  opacity: 1 !important;
}

.banner ul li p {
  margin-top: 13px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.banner ul li:hover img {
  opacity: 0.5;
}

@media only screen and (max-width: 1040px) {
  .banner {
    padding: 70px 20px;
  }
}

@media only screen and (max-width: 830px) {
  .banner {
    padding: 50px 20px;
  }
}

@media only screen and (max-width: 640px) {
  .banner {
    padding: 50px 15px;
  }
  .banner ul li {
    margin-bottom: 25px;
  }
  .banner ul li:last-child {
    margin-bottom: 0;
  }
  .banner ul li p {
    font-size: 10px;
  }
  .banner ul li .banner_content {
    width: 30%;
    left: 34%;
  }
}

#requireWrap {
  background: url("../images/img_require.jpg") bottom center no-repeat #618e25;
  background-size: cover;
}

@media only screen and (max-width: 640px) {
  #requireWrap {
    background: url("../images/img_require_sp.jpg") center center no-repeat #618e25;
    background-size: cover;
  }
}

.require {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 640px) {
  .require {
    height: 180px;
  }
  .require .btn_require {
    width: 182px;
    margin: 0 auto;
  }
}

.require img {
  width: inherit;
  margin: 0 auto;
}