
@mixin brpSp {
  @media only screen and (max-width: 640px) {
    @content 
  }
}

@mixin brpTbl {
  @media only screen and (max-width: 1040px) {
    @content
  }
}

.is_pc {
  display: block;
}

@media only screen and (max-width: 640px) {
  .is_pc {
    display: none !important;
  }
}

.is_sp {
  display: none;
}

@media only screen and (max-width: 640px) {
  .is_sp {
    display: block !important;
  }
}

@media only screen and (max-width: 960px) {
  .hide_md {
    display: none;
  }
}

.is_hidden {
  display: none;
}

#mainWrap {
  background: url(../images/bg_main_pc.jpg) bottom center no-repeat;
  background-size: cover;
  @include brpSp {
    background: url(../images/bg_main_sp.jpg) bottom center no-repeat;
    background-size: cover;
    padding-top: 40px;
  }
}


.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  height: 380px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  @include brpSp {
    height: 329px;
  }
  .txt_main {
    display: flex;
    flex-direction: column;
    font-size: 42px;
    color: #fff;
    padding-bottom: 65px;
    @include brpTbl {
      padding-left: 20px;
    }
    @include brpSp {
      font-size: 22px;
      padding-left: 15px;
      padding-bottom: 35px;
    }
  }
}

.slick-slide img {
  width: 100%;
}

#historyWrap .historyContent {
  max-width: 1000px;
  margin: 0 auto;
  @include brpTbl {
    #boxWrap,& {
      margin: 0 20px;
      padding-bottom: 10px;
    }
  }
}

#boxWrap {
  padding-bottom: 50px;
  @include brpSp {
    padding-bottom: 10px;
  }
  .box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 20px 70px;
    background: #ffffff;
    border: solid 16px #f1f1f1;
    text-align: center;
    position: relative;
    top: -50px;
    box-shadow: 0 1px 5px #888888;
    @include brpSp {
      border: solid 8px #f1f1f1;
      padding: 24px 5px 25px;
      top: -25px;
    }
    h2 {
      font-size: 34px;
      margin-bottom: 15px;
      color: #333333;
      font-weight: bold;
      @include brpSp {
        font-size: 19px;
        margin-bottom: 10px;
      }
      small {
        font-size: 24px;
        font-weight: inherit;
        display: inline-block;
        padding-bottom: 17px;
        @include brpSp {
          padding-bottom: 10px;
          font-size: 13px;
        }
      }
    }
    p {
      color: #333333;
      font-size: 18px;
      @include brpSp {
        font-size: 14px;
      }
    }
  }
  @include brpSp {
    &,.historyContent {
    margin: 0 15px;
    }
  }
}


#historyWrap {
  .historyContent {
    @include brpSp {
      margin: 0 15px;
    }
    h2, p {
      line-height: 1.875;
      @include brpSp {
        line-height: 1.5;
      }
    }
    h2 {
      font-weight: bold;
      font-size: 19px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      line-height: 1.6;
      text-align: justify;
      @include brpSp {
        font-size: 16px;
        padding-left: 30px;
        padding: 0;
        margin-bottom: 20px;
        align-items: flex-start;
      }
      &:before {
        content: '';
        display: block;
        flex: 0 0 35px;
        height: 55px;
        margin-right: 15px;
        background: url('../images/ic_micro.png') center no-repeat;
        background-size:contain;
        @include brpSp {
          flex: 0 0 25px;
          height: 39px;
          margin-right: 10px;
        }
      }
    }
    p {
      @include brpSp {
        font-size: 14px;
      }
    }
  }
  .topVisual,
  .topContent {
    padding-bottom: 60px;
    @include brpSp {
      padding-bottom: 25px;
    }
  }
  .box,
  .box02 {
    display: flex;
    padding-bottom: 80px;
    @include brpSp {
      flex-direction: column;
      padding-bottom: 40px;
    }
    .thumb {
      flex: 0 0 55.6%;
      @include brpSp {
        flex: 0 0 100%;
        margin-bottom: 20px;
      }
    }
  }
  .box {
    .content {
      position: relative;
      flex: 0 0 55%;
      top: 20px;
      right: 105px;
      background: rgba(255,255,255,0.7);
      padding: 30px;
      @include brpSp {
        flex: 0 0 100%;
        top: 0;
        right: 0;
        padding: 0;
      }
      p {
        padding-bottom: 40px;
        @include brpSp {
          padding-bottom: 20px;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  .box02 {
    padding-bottom: 50px;
    @include brpSp {
      padding-bottom: 25px;
    }
    .thumb {
      order: 2;
      position: relative;
      right: 105px;
      @include brpSp {
        order: 1;
        right: 0;
      }
    }
    .content {
      left: 0;
      z-index: 2;
      @include brpSp {
        order: 2;
      }
    }
  }
  .bottomContent {
    padding-bottom: 120px;
    padding-left: 20px;
    @include brpSp {
      padding-bottom: 50px;
      padding-left: 0;
    }
  }
}