/*  Helper
------------------------------------*/
.is_pc {
  display: block; }

@media only screen and (max-width: 640px) {
  .is_pc {
    display: none !important; } }

.is_sp {
  display: none; }

@media only screen and (max-width: 640px) {
  .is_sp {
    display: block !important; } }

@media only screen and (max-width: 960px) {
  .hide_md {
    display: none; } }

.is_hidden {
  display: none; }

@media only screen and (max-width: 640px) {
  #wrapper {
    padding-top: 40px; } }

#mainWrap {
  background: url(../images/bg_main_pc.jpg) bottom center no-repeat;
  background-size: cover; }

@media only screen and (max-width: 640px) {
  #mainWrap {
    background: url(../images/bg_main_sp.jpg) bottom center no-repeat;
    background-size: cover; } }

.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media only screen and (max-width: 640px) {
  .main {
    height: 329px; } }

.main .txt_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
  font-weight: bold; }

@media only screen and (max-width: 640px) {
  .main .txt_main {
    font-size: 19px; } }

.slick-slide img {
  width: 100%; }

#boxWrap {
  padding-bottom: 20px; }
  #boxWrap .box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 20px 70px;
    background: #ffffff;
    border: solid 16px #f1f1f1;
    text-align: center;
    position: relative;
    top: -50px;
    -webkit-box-shadow: 0 1px 5px #888888;
    box-shadow: 0 1px 5px #888888; }
    #boxWrap .box h2 {
      font-size: 34px;
      margin-bottom: 0;
      color: #333333;
      font-weight: bold; }

#boxWrap #boxWrap .box #boxWrap .box p {
  color: #333333;
  font-size: 18px; }

@media only screen and (max-width: 1040px) {
  #boxWrap {
    margin: 0 20px;
    padding-bottom: 10px; } }

@media only screen and (max-width: 640px) {
  #boxWrap {
    margin: 0 15px; }
  #boxWrap .box {
    border: solid 8px #f1f1f1;
    padding: 24px 5px 25px;
    top: -25px; }
  #boxWrap .box h2 {
    font-size: 19px; }
  #boxWrap .box p {
    font-size: 12px; } }

#learningWrap .business {
  padding-bottom: 100px; }

#learningWrap .items {
  padding: 30px 0 80px; }

#learningWrap .items .items_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

#learningWrap .items h3 {
  font-size: 24px;
  color: #345c43;
  margin-bottom: 25px;
  font-weight: bold; }

#learningWrap .items figure {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  width: 46%; }

#learningWrap .items .txt_items {
  padding-left: 46px;
  width: 54%;
  font-size: 18px;
  color: #333333;
  margin-top: -5px; }

#learningWrap .items .logo_items {
  max-width: 1000px;
  margin: 50px auto 0; }

#learningWrap .items .logo_items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -7px; }

#learningWrap .items .logo_items ul li {
  width: 20%;
  padding: 7px; }

#learningWrap .items .logo_items ul li:last-child {
  margin-right: 0; }

#learningWrap .items:nth-child(even) {
  background: #ffffff; }

#learningWrap .items:nth-child(even) figure {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

#learningWrap .items:nth-child(even) .txt_items {
  padding-left: 0;
  padding-right: 46px; }

@media only screen and (max-width: 1040px) {
  #learningWrap .items {
    padding-left: 20px;
    padding-right: 20px; } }

@media only screen and (max-width: 640px) {
  #learningWrap .business {
    padding-bottom: 35px; }
  #learningWrap .items {
    padding: 0 15px; }
  #learningWrap .items .items_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  #learningWrap .items h3 {
    font-size: 19px;
    margin: 0px 0 15px; }
  #learningWrap .items figure {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 100%;
    margin-bottom: 20px; }
  #learningWrap .items .txt_items {
    width: 100%;
    padding-left: 0;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 40px; } }

#timelineWrap,
#timelineWrap02 {
  background: url("../images/bg_01.jpg");
  padding-bottom: 90px;
  margin-bottom: 100px; }
  @media only screen and (max-width: 640px) {
    #timelineWrap,
    #timelineWrap02 {
      padding-bottom: 35px;
      margin-bottom: 35px; } }
  #timelineWrap .timeline,
  #timelineWrap02 .timeline {
    padding-bottom: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    margin: 0 auto; }
    @media only screen and (max-width: 1040px) {
      #timelineWrap .timeline,
      #timelineWrap02 .timeline {
        width: 90%; }
        #timelineWrap .timeline:last-child,
        #timelineWrap02 .timeline:last-child {
          padding-bottom: 0; } }
    @media only screen and (max-width: 640px) {
      #timelineWrap .timeline,
      #timelineWrap02 .timeline {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 90%;
        padding-bottom: 22px; } }
    #timelineWrap .timeline ul,
    #timelineWrap02 .timeline ul {
      width: 100%; }
      #timelineWrap .timeline ul li,
      #timelineWrap02 .timeline ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 90px;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        padding: 22px 0;
        background: #ffffff;
        border-bottom: solid 2px #31573f;
        margin-bottom: 20px;
        color: #000000;
        position: relative; }
        @media only screen and (max-width: 640px) {
          #timelineWrap .timeline ul li,
          #timelineWrap02 .timeline ul li {
            min-height: 50px;
            margin-bottom: 10px;
            padding: 15px 0; } }
        #timelineWrap .timeline ul li > p,
        #timelineWrap02 .timeline ul li > p {
          width: 22%;
          background-size: 80px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          @media only screen and (max-width: 1040px) {
            #timelineWrap .timeline ul li > p,
            #timelineWrap02 .timeline ul li > p {
              width: 38%; } }
          @media only screen and (max-width: 640px) {
            #timelineWrap .timeline ul li > p > img,
            #timelineWrap02 .timeline ul li > p > img {
              width: 75%; } }
        #timelineWrap .timeline ul li article,
        #timelineWrap02 .timeline ul li article {
          width: 78%;
          padding-right: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          @media only screen and (max-width: 1040px) {
            #timelineWrap .timeline ul li article,
            #timelineWrap02 .timeline ul li article {
              width: 62%; } }
        #timelineWrap .timeline ul li h3,
        #timelineWrap02 .timeline ul li h3 {
          font-size: 19px;
          font-weight: bold;
          color: #345c43; }
          @media only screen and (max-width: 640px) {
            #timelineWrap .timeline ul li h3,
            #timelineWrap02 .timeline ul li h3 {
              font-size: 16px; } }
          #timelineWrap .timeline ul li h3 + p,
          #timelineWrap02 .timeline ul li h3 + p {
            font-size: 16px; }
            @media only screen and (max-width: 640px) {
              #timelineWrap .timeline ul li h3 + p,
              #timelineWrap02 .timeline ul li h3 + p {
                font-size: 12px; } }
        #timelineWrap .timeline ul li:after,
        #timelineWrap02 .timeline ul li:after {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          top: 100%;
          background: url("../images/ic_arrow.png") center no-repeat;
          background-size: 100% 100%;
          width: 181px;
          height: 16px; }
          @media only screen and (max-width: 640px) {
            #timelineWrap .timeline ul li:after,
            #timelineWrap02 .timeline ul li:after {
              background: url(../images/ic_arrow_sp.png) center no-repeat;
              width: 100px;
              height: 9px; } }
        #timelineWrap .timeline ul li:last-child,
        #timelineWrap02 .timeline ul li:last-child {
          margin-bottom: 0; }
    #timelineWrap .timeline:last-child,
    #timelineWrap02 .timeline:last-child {
      padding-bottom: 0; }
      #timelineWrap .timeline:last-child ul li:after,
      #timelineWrap02 .timeline:last-child ul li:after {
        display: none; }
  #timelineWrap h2,
  #timelineWrap02 h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 100px 0 40px; }
    @media only screen and (max-width: 640px) {
      #timelineWrap h2,
      #timelineWrap02 h2 {
        font-size: 18px;
        padding: 35px 0 25px; } }

#timelineWrap {
  margin-bottom: 0; }

#timelineWrap02.no-bg {
  background: none; }

#timelineWrap02 .timeline ul li {
  background: #f5f5f5; }

/*# sourceMappingURL=styles.css.map */