@import "../../common/css/ressponsive";
@import "../../common/css/helper";
@import "../../common/css/variable";
#wrapper {
    @include widthsm {
        padding-top: 40px;
    }
}
#mainWrap {
    background: url("../images/bg_main_pc.jpg") bottom center no-repeat;
    background-size: cover;
    @include widthsm {
        background: url("../images/bg_main_sp.jpg") bottom center no-repeat;
        background-size: cover;
        // padding: 40px;
    }
}
.main {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    height: 380px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    .txt_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 30px;
        color: #ffffff;
        font-weight: bold;
    }
    @include widthsm {
        height: 329px;
        .txt_main {
            font-size: 19px;
        }
    }
}
.message {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
    img {
        // width: 100%;
    }
    ul {
        li {
            position: relative;
            text-align: center;
            margin-bottom: 98px;
            &:last-child {
                margin-bottom: 0;
            }
            .message_content {
                position: absolute;
                top: calc(38%);
                left: calc(40%);
                z-index: 1;
                width: 20%;
                img {
                    opacity: 1!important;
                    // width: 100%;
                }
            }
            p {
                margin-top: 13px;
                font-weight: bold;
                font-size: 20px;
                color: #ffffff;
            }
            &:hover {
                img {
                    opacity: 0.5;
                }
            }
        }
    }
    @media only screen and (max-width: 1040px) {
        padding: 70px 20px;
    }
    @media only screen and (max-width: 830px) {
        padding: 50px 20px;
    }
    @include widthsm {
        padding: 50px 15px;
        ul {
            li {
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                p {
                    font-size: 10px;
                }
                .message_content {
                    width: 34%;
                    left: 33%;
                }
            }
        }
    }
}
#ideaWrap {
    background: url("../images/bg_01.jpg");
}
.idea {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 73px 0 88px;
    ul {
        // margin-top: 33px;
        display: flex;
        justify-content: space-between;
        li {
            position: relative;
            color: #ffffff;
            max-width: 465px;
            .idea_content {
                position: absolute;
                z-index: 1;
                img {
                    opacity: 1!important;
                }
            }
            .idea01 {
                top: calc(37%);
                left: calc(30%);
                width: 45%;
                max-width: 204px;
            }
            .idea02 {
                top: calc(37%);
                left: calc(30%);
                width: 45%;
                max-width: 214px;
            }
            p {
                margin-top: 25px;
                font-size: 16px;
                color: #333333;
                text-align: left;
            }
            a:hover {
                img {
                    opacity: 0.5;
                }
            }
        }
    }
    @media only screen and (max-width: 1040px) {
        padding: 55px 15px;
        ul li:not(:last-child) {
            margin-right: 20px;
        }
    }
    @include widthsm {
        padding: 36px 15px;
        ul {
            flex-direction: column;
            li {
                // width: 232.5px;
                margin: 0 auto 15px !important;
                padding: 0 29px;
                &:last-child {
                    margin-bottom: 0!important;
                }
                p {
                    margin-top: 10px;
                    font-size: 14px;
                    margin-bottom: 0;
                }
                .idea01 {
                    top: calc(33%);
                    left: calc(32%);
                    width: 35%;
                }
                .idea02 {
                    top: calc(33%);
                    left: calc(32%);
                    width: 37%;
                }
                img {}
            }
        }
    }
}
.banner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 0;
    img {
        // width: 100%;
    }
    ul {
        li {
            position: relative;
            text-align: center;
            margin-bottom: 98px;
            &:last-child {
                margin-bottom: 0;
            }
            .banner_content {
                position: absolute;
                top: calc(37%);
                left: calc(40%);
                z-index: 1;
                width: 25%;
                max-width: 207px;
                img {
                    opacity: 1!important;
                    // width: 100%;
                }
            }
            p {
                margin-top: 13px;
                font-weight: bold;
                font-size: 20px;
                color: #ffffff;
            }
            &:hover {
                img {
                    opacity: 0.5;
                }
            }
        }
    }
    @media only screen and (max-width: 1040px) {
        padding: 70px 20px;
    }
    @media only screen and (max-width: 830px) {
        padding: 50px 20px;
    }
    @include widthsm {
        padding: 50px 15px;
        ul {
            li {
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                p {
                    font-size: 10px;
                }
                .banner_content {
                    left: calc(32%);
                    width: 35%;
                }
            }
        }
    }
}
